@*
    Geex - ASP .NET CORE 8 & Bootstrap5 Admin Dashboard HTML Template design by THEMEWANT (https://themeforest.net/user/themewant)
*@
@page
@model Geex.Pages.PageTemplates.BlogDetailsModel
@{
}
<div class="geex-content__blog_details">
	<div class="row">
		<div class="col-xxl-9 col-xl-8 lg-mb-40">
			<div class="geex-content__blog_details__wrap">
				<div class="geex-content__blog_details__img">
					<img src="~/img/multimedia0.jpg" alt="informacion prolimza" />
				</div>
				<div class="geex-content__blog_details__content">
					<ul class="geex-content__blog_details__quickinfo">
						<li class="geex-content__blog_details__quickinfo__item">
							<a href="#"><i class="uil-calender"></i>Junio, 2025</a>
						</li>
					</ul>
					<h2 class="geex-content__blog_details__title"> Bienvenidos a Prolimza</h2>
					<p class="geex-content__blog_details__description">
						Prolimza S.A. es una empresa costarricense especializada en la comercialización y distribución de materiales y productos de limpieza para clientes residenciales, comerciales e industriales. Ubicada en Costa Rica, Prolimza se ha consolidado como un aliado estratégico para organizaciones que buscan soluciones eficientes, sostenibles y de alta calidad en el mantenimiento y la higiene de sus espacios.
					</p>
					<p class="geex-content__blog_details__description">
						Gracias a su enfoque centrado en el cliente y su capacidad logística, Prolimza atiende a empresas del sector salud, educativo, hotelero, industrial y gubernamental, brindando entregas puntuales, asesoría técnica y productos certificados que cumplen con los más altos estándares de limpieza y desinfección.
					</p>
					<img class="mb-20" src="~/img/multimedia1.png" alt="productos1" />
					<p class="geex-content__blog_details__description">
						Esta aplicación tiene como objetivo principal centralizar y digitalizar las operaciones clave de la empresa, con un enfoque específico en el control y gestión del inventario de materiales de limpieza. Esta solución tecnológica permite un seguimiento en tiempo real del estado de los productos, desde su ingreso al almacén hasta su salida por ventas o distribución, optimizando así los procesos de abastecimiento, rotación de stock y trazabilidad. Al integrar todas las funciones en una sola plataforma, Prolimza mejora su eficiencia operativa, reduce errores manuales y facilita la toma de decisiones basada en datos, fortaleciendo su capacidad para responder ágilmente a la demanda del mercado.
					</p>
					<blockquote class="geex-content__blog_details__quote">
						“En Prolimza, creemos en la calidad, innovación y sostenibilidad. Nuestro equipo está comprometido con ofrecer soluciones efectivas de limpieza que cuiden tu entorno.” <span class="geex-content__blog_details__quote__author">Bernal</span>
					</blockquote>
					<h3 class="geex-content__blog_details__subtitle">¿Que nos caracteriza?</h3>
					<ul class="geex-content__blog_details__feature">
						<li class="geex-content__blog_details__feature__list">
							<i class="uil uil-check"></i>
							Calidad Garantizada
						</li>
						<li class="geex-content__blog_details__feature__list">
							<i class="uil uil-check"></i>
							Compromiso Ambiental
						</li>
						<li class="geex-content__blog_details__feature__list">
							<i class="uil uil-check"></i>
							Soporte Personalizado
						</li>
					</ul>
					<p class="geex-content__blog_details__description">Nuestros productos cumplen con los más altos estándares para asegurar efectividad y seguridad, fomentamos prácticas ecológicas desde la producción hasta la distribución, y nuestro equipo está siempre listo para ayudarte a encontrar lo que necesitas.</p>

				</div>
			</div>
		</div>
		<div class="col-xxl-3 col-xl-4">
			<div class="geex-content__widget">
				<!-- TAGS START -->
				<div class="geex-content__widget__single">
					<h4 class="geex-content__widget__title">Tags</h4>
					<div class="geex-content__widget__content">
						<ul class="geex-content__widget__tags">
							<li class="geex-content__widget__tags__single">
								<button>Gestión de Inventario</button>
							</li>
							<li class="geex-content__widget__tags__single">
								<button>Control de Stock</button>
							</li>
							<li class="geex-content__widget__tags__single">
								<button>Trazabilidad de Productos</button>
							</li>
						</ul>
					</div>
				</div>
				<!-- TAGS END -->

			</div>
		</div>
	</div>
</div>     