@model ErrorViewModel
@{
}
<div class="geex-content__section geex-content__error">
    <div class="geex-content__error__wrapper">
        <div class="geex-content__error__content">
            <img src="~/img/maintanence.svg" alt="Maintanence Image">
            <h3 class="geex-content__error__subtitle secondary">Ocurrio un error inesperado</h3>
            <p class="geex-content__error__desc">Por favor contacte a su administrador.</p>
            @if (Model.ShowRequestId)
            {
                <p>
                    Request ID: @Model.RequestId
                </p>
            }
        </div>
    </div>
</div>