@model dynamic
@{
    ViewData["Title"] = "Reporte de Producción";
}

<div class="geex-content__wrapper">
    <div class="geex-content__section-wrapper">

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-3">
                <label>Desde:</label>
                <input type="date" id="fecha-inicio" class="form-control" />
            </div>
            <div class="col-md-3">
                <label>Hasta:</label>
                <input type="date" id="fecha-fin" class="form-control" />
            </div>
            <div class="col-md-3">
                <label>Tipo Producto</label>
                <select name="tipoProducto" class="form-control" id="tipoProducto">
                    <option value="">-- Todos --</option>
                    <option value="Producido" selected="@(ViewData["TipoProducto"]?.ToString() == "Producido")">Producido</option>
                    <option value="Comprado" selected="@(ViewData["TipoProducto"]?.ToString() == "Comprado")">Comprado</option>
                </select>
            </div>
            <div class="geex-content__form__single d-flex gap-10 justify-content-center">
                <button id="btn-filtrar" class="geex-btn geex-btn--primary-transparent">Filtrar</button>
                <button id="descargar-pdf" class="geex-btn geex-btn--primary-transparent">Descargar</button>

            </div>
        </div>


        <div class="geex-content__double-column mb-40">

            <!-- COLUMN CHART START -->
            <div class="geex-content__section geex-content__visitor-count">
                <div class="geex-content__section__header">
                    <div class="geex-content__section__header__title-part">
                        <h4 class="geex-content__section__header__title">Cantidad de materia prima utilizada por día</h4>
                    </div>
                </div>
                <div class="geex-content__section__content">
                    <div id="column-chart"></div>
                </div>
            </div>
            <!-- COLUMN CHART END -->
            <!-- PIE CHART START -->
            <div class="geex-content__section geex-content__chat-summary">
                <div class="geex-content__section__header">
                    <div class="geex-content__section__header__title-part">
                        <h4 class="geex-content__section__header__title">Recetas más utilizadas</h4>
                    </div>
                    <div class="geex-content__section__header__content-part">

                    </div>
                </div>
                <div class="geex-content__section__content">
                    <div id="pie-chart"></div>
                </div>
            </div>
            <!-- PIE CHART END -->
        </div>

        <div class="geex-content__section geex-content__server-request mb-40">
            <div class="geex-content__section__header">
                <div class="geex-content__section__header__title-part">
                    <h4 class="geex-content__section__header__title">Eficiencia de producción por día</h4>
                </div>
            </div>
            <div class="geex-content__section__content">
                <div id="line-chart" class="server-request-chart"></div>
            </div>
        </div>

        <div class="geex-content__section geex-content__server-request mb-40">
            <table id="miTabla" class="display">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Producto</th>
                        <th>Tipo</th>
                        <th>Materia Prima</th>
                        <th>Cantidad MP Usada</th>
                        <th>Cantidad Vendida</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>

</div>

@section Scripts {
    <script src="~/js/inteligencianegocio/graficorecetas.js"></script>
    <script src="~/js/reportes/html2canvas.min.js"></script>
    <script src="~/js/reportes/jspdf.min.js"></script>
    <script src="~/js/inteligencianegocio/reportepdf.js"></script>
}
