@model Prolimza.Models.Compra

@{
    ViewData["Title"] = "Editar Compra";
    ViewData["subTitle"] = "Formulario para editar compras desde la perspectiva de administrador.";
}

<div class="geex-content__section geex-content__form">
    <div class="geex-content__form__wrapper">
        <form asp-action="Edit" class="form-container">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCompra" />

            <div class="geex-content__form__single__box mb-20">
                <label asp-for="FechaCompra" class="control-label"></label>
                <input asp-for="FechaCompra" class="form-control" />
                
            </div>

            <div class="geex-content__form__single__box mb-20">
                <label asp-for="IdUsuario" class="control-label"></label>
                <input asp-for="IdUsuario" class="form-control" />
                
            </div>

            <div class="geex-validation-block text-danger mt-4 text-center">
                <span asp-validation-for="FechaCompra" class="text-danger"></span>
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>

            <div class="geex-content__form__single d-flex gap-10 justify-content-center">
                <button type="submit" class="geex-btn geex-btn--primary-transparent"><i class="uil-plus"></i> Guardar</button>
                <a asp-action="Index" class="geex-btn geex-btn--dark-transparent">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
