<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">@SharedLocalizer.GetLocalizedHtmlString("Copyright") © @SharedLocalizer.GetLocalizedHtmlString("Your Website 2022")</div>
            <div>
                <a asp-page="Privacy">@SharedLocalizer.GetLocalizedHtmlString("Privacy Policy")</a>
                &middot;
                <a asp-page="Terms">@SharedLocalizer.GetLocalizedHtmlString("Terms & Conditions")</a>
            </div>
        </div>
    </div>
</footer>