@model Prolimza.Models.Venta

@{
    ViewData["Title"] = "Crear Venta";
    ViewData["subTitle"] = "Formulario para crear ventas desde la perspectiva de administrador.";
}

<div class="geex-content__section geex-content__form">
    <div class="geex-content__form__wrapper">
        <form asp-action="Create" class="form-container">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="geex-content__form__single__box mb-20">
    <input asp-for="FechaVenta" class="form-control-custom" placeholder="Fecha de la venta" />
            </div>
            <div class="geex-content__form__single__box mb-20">
    <select asp-for="IdUsuario" asp-items="ViewBag.IdUsuario" class="form-control-custom">
        <option value="">Seleccione un Usuario</option>
    </select>
            </div>

            <div class="geex-validation-block text-danger mt-4 text-center">
                <span asp-validation-for="FechaVenta" class="text-danger"></span>
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>

            <div class="geex-content__form__single d-flex gap-10 justify-content-center">
                <button type="submit" class="geex-btn geex-btn--primary-transparent"><i class="uil-plus"></i> Crear</button>
                <a asp-action="Index" class="geex-btn geex-btn--dark-transparent">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
