@model Prolimza.Models.Venta

@{
    ViewData["Title"] = "Editar Venta";
    ViewData["subTitle"] = "Formulario para editar ventas desde la perspectiva de administrador.";
}
<div class="geex-content__section geex-content__form">
    <div class="geex-content__form__wrapper">
<form asp-action="Edit" class="form-container">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="IdVenta" />

    <div class="geex-content__form__single__box mb-20">
        <input asp-for="IdVenta" placeholder="ID de la venta" readonly />
        
    </div>

    <div class="geex-content__form__single__box mb-20">
        <input asp-for="FechaVenta" placeholder="Fecha de la venta" />
       
    </div>

    <div class="geex-content__form__single__box mb-20">
        <input asp-for="IdUsuario" placeholder="ID del usuario" />
        
    </div>
            <div class="geex-validation-block text-danger mt-4 text-center">
                <span asp-validation-for="IdVenta" class="text-danger"></span>
                <span asp-validation-for="FechaVenta" class="text-danger"></span>
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>

            <div class="geex-content__form__single d-flex gap-10 justify-content-center">
                <button type="submit" class="geex-btn geex-btn--primary-transparent"><i class="uil-plus"></i> Guardar</button>
                <a asp-action="Index" class="geex-btn geex-btn--dark-transparent">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
